.app-bg-primary{
    background: burlywood;
}
.app-bg-secondary{
    background: beige;
}

.app-bg-third{
    background: saddlebrown;
}

.app-bg-fourth{
    background: lightcyan;
}

a.nav-link {
    display: inline-block;
    color: lightcyan;
    opacity: 75%;
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}

.nav-link{
    border-radius: 15px;
}

.nav-link:hover{
    background: rgba(87.1,72.2,52.9,.99);
}

.navbar-brand{
    background: saddlebrown;
    border: 2px burlywood solid;
    border-radius: 55%;
}

.jumbotron {
    background: lightcyan;
}

.space-top {
    margin-top: 2em;
}

.active {
    background: burlywood;
}

.navbar span {
    color: #bbbbbb;
}

.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}
.card:hover {
    background: beige;
}

.card-image{
    width: 150px;
    height: 150px;
    border-radius: 3px;
}

.details-image{
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.row .no-float {
    display: table-cell;
    float: none;
}

.selected {
    background: #666666;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 220px;
    background: beige;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.w-85{
    width: 85%;
}

.w-35{
    width: 35%;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}

.w-5{
    width: 5%;
}
.h-95{
    height: 95%;
}

.h-90{
    height: 90%;
}

.h-85{
    height: 85%;
}

.h-15{
    height: 15%;
}

pre{
    overflow-y: scroll
}

.toast-error {
    background: crimson;
}

.toast-success {
    background: forestgreen;
}

.sale-row{
    height: 100px;
}

pre{
    white-space: pre-wrap;
    text-align: justify;
    overflow-y: auto;
}
